.header{
    display: flex;
    height: 3em;
    position: relative;
    padding-top: 5px;
}


.header-content{
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 1%;
}
.home, .contact, .about-me{
    margin: 0.5em 0.75em;
    border-radius: 5px;
    height: 2.5em;
    width: auto;
}

.resume-button:hover, .home:hover, .contact:hover, .about-me:hover {
    cursor: pointer;
    color: rgb(64, 7, 236);
    text-decoration: underline;
}

.image-container{
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

.resume-link{
    text-decoration: none;
    color: black;
    margin: -1% 5%;
}

.resume-link:hover{
    color: rgb(64, 7, 236);
    text-decoration: underline;
}

.body{
    margin: 5%;
}

.image{
    width: 20%;
    border-radius: 0 40px;
    border: 1px solid   black;
    
}

.introduction{
    text-align: center;
}

.body-introduction{
    text-align: center;
    margin: 0% 5%;
    margin-bottom: 5em;
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
