.intro-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
    overflow: hidden;
    width: 100%;
}

.introduction{
    text-align: center;
    color: white;
    animation: slide 10s linear infinite;
}

.Resume{
    text-align: center;
    margin: 12em 16em;
}

.family{
    height:25%;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
