/* 
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-image:url("/images/background1.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
} */
